.main-head {
  .top-line{
    background-color: $violet;
    text-align: center;
    border-bottom: lighten($violet, 7%) 1px solid;
    position: relative;
    z-index: 1050;
    a{
      color: $white;
    }
    ul, li {
      list-style-type: none;
      padding: 0;
      margin: 0;
      float: none;
    }
  }

  .sf-menu {
    margin: 0 auto -5px;
    font-family: "RobotoCondensedRegual", sans-serif;
    font-size: 15px;
    background-color: $violet;
    .fa {
      font-size: 11px;
      margin-left: 2px;
    }
    a {
      border-bottom: lighten($violet, 5%) 1px solid;
      border-left: lighten($violet, 5%) 1px solid;
      border-top: none;
    }
    > li {
      background-color: transparent;
      border-bottom: lighten($violet, 5%) 1px solid;
      >a {
        color: $white;
        border: none;
        padding: 25px 28px 25px;
        text-decoration: none;
      }
      &:hover {
        background-color: darken($violet, 3%);
        >a {
          color: $accent-yellow;
          outline: none;
        }
      }
    }
    ul {
      li{
        background-color: $violet;
        &:hover {
          >a {
            color: $accent-yellow;
          }
        }
        a {color: $white;
          &:hover {
            color: $accent-yellow;
            text-decoration: none;
          }
        }
      }
    }
  }

/* для прозрачности кода */
  .sf-menu ul > li a {
    text-align: left;
    padding: 12px 25px 12px;
    color: $white;
  }
/* ************* */

// top-panel
  .top-panel {
    background-color: rgba(lighten($violet, 2%), .8);
    color: $white;
    padding: 50px 0;
    position: relative;
    border-bottom: rgba($white, .03) 10px solid;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url("../../img/top-pannel-bg.jpg");
      z-index: 0;
      opacity: .16;
    }
    &-box {
      h4 {
        font-family: "RobotoCondensedRegual", sans-serif;
        font-size: 15px;
        margin-top: 0;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          height: 1px;
          width: 100%;
          left: 0;
          bottom: -9px;
          opacity: .4;
          background-color: $accent-yellow;
        }
      }
      ul, li {
        padding: 0;
        margin: 0;
        list-style-type: none;
      }
      li {
        max-width: 48%;
        opacity: .35;
        font-size: 13px;
        padding: 10px 10px 0 25px;
        position: relative;
        &:only-child{
          max-width: 100%;
        }
        &::before {
          position: absolute;
          left: 0;
          top: 14px;

        }
      }
    }
  }

  .top-panel-content {
    position: relative;
    z-index: 1000;
  }

  .logo {
    img {
      max-width: 100%;
    }
  }


  .sf-menu ul {
    z-index: 9999;
  }

  .top-phone {
    white-space: nowrap;
    font-size: 20px;
    font-family: "RobotoCondensedRegual", sans-serif;
    margin-top: -3px;
    span {
      font-size: 14px;
      opacity: .3;
    }
    .fa {
      position: relative;
      font-size: 14px;
      right: 3px;
      opacity: .3;
    }
  }

  .top-email {
    font-size: 14px;
    a {
      color: $white;
      text-decoration: underline;
    }
    span {
      opacity: .3;
    }
    .fa{
      position: relative;
      font-size: 14px;
      right: 3px;
      opacity: .3;
    }
  }

  .top-button{
    margin-top: 19px;
  }

  .button-small {
    font-size: 14px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-color: darken($accent-yellow, 10%);
      width: 100%;
      bottom: 0;
      left: 0;
      height: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &:hover,&:focus {
      text-decoration: none;
      color: $black;
    }
  }

  .slider {
    position: relative;
    top: 0;
    width: 100%;
  }



  .slider-nav-container {
    position: relative;
  }

  .slider-nav {
    position: absolute;
    color: $white;
    width: 100%;
    z-index: 1010;
    font-size: 36px;
    div {
      cursor: pointer;
      position: absolute;
      top: 180px;
      &:first-child{
        position: absolute;
        left: -100px;
      }
      &:last-child {
        right: 0;
      }
    }
  }


  .slide {
    position: relative;
    color: $white;
    width: 100%;

  }

  .slide-bg {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 450px;
    &::before {
      content: '';
      background-color: $violet;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: .85;
    }
  }

  .slide-content {
    position: relative;
    z-index: 1010;
    padding-top: 80px;
    strong {
      color: $accent-yellow;
    }
  }

  .owl-dots {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    .owl-dot {
      position: relative;
      top: -50px;
      display: inline-block;
      margin: 0 2px;
      width: 14px;
      height: 14px;
      background-color: darken($violet, 10%);
      border-radius: 10em;
      cursor: pointer;
      transition: background-color .25s ease;
      &.active {
        background-color: $accent-yellow;
      }
    }
  }



}