.main-head {
  .top-line{
    background-color: $violet;
    text-align: center;
    border-bottom: lighten($violet, 7%) 1px solid;
    a{
      color: $white;
    }
    ul, li {
      list-style-type: none;
      padding: 0;
      margin: 0;
      float: none;
    }
  }

  .sf-menu {
    margin: 0 auto -5px;
    font-family: "RobotoCondensedRegual", sans-serif;
    font-size: 15px;
    background-color: $violet;
    a {
      border-bottom: lighten($violet, 5%) 1px solid;
      border-left: lighten($violet, 5%) 1px solid;
      border-top: none;
    }
    > li {
      background-color: transparent;
      border-bottom: lighten($violet, 5%) 1px solid;
      >a {
        color: $white;
        border: none;
        padding: 25px 28px 25px;
        text-decoration: none;
      }
      &:hover {
        background-color: darken($violet, 3%);
        >a {
          color: $accent-yellow;
          outline: none;
        }
      }
    }
    ul {
      li{
        background-color: $violet;
        &:hover {
          >a {
            color: $accent-yellow;
          }
        }
        a {color: $white;
          &:hover {
            color: $accent-yellow;
            text-decoration: none;
          }
        }
      }
    }
  }

/* для прозрачности кода */
  .sf-menu ul > li a {
    text-align: left;
    padding: 12px 25px 12px;
    color: $white;
  }
/* ************* */
  .fa {
    font-size: 11px;
    margin-left: 2px;
  }
// top-panel
  .top-panel {
    background-color: rgba(lighten($violet, 2%), .8);
    color: $white;
    padding: 50px 0;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url("../../img/top-pannel-bg.jpg");
      z-index: 0;
      opacity: .16;
    }
    &-box {
      h4 {
        font-family: "RobotoCondensedRegual", sans-serif;
        font-size: 15px;
        margin-top: 0;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          height: 1px;
          width: 100%;
          left: 0;
          bottom: -9px;
          opacity: .4;
          background-color: $accent-yellow;
        }
      }
      ul, li {
        padding: 0;
        margin: 0;
        list-style-type: none;
      }
      li {
        max-width: 48%;
        opacity: .35;
        font-size: 13px;
        padding: 10px 10px 0 25px;
        position: relative;
        &:only-child{
          max-width: 100%;
        }
        &::before {
          position: absolute;
          left: 0;
          top: 14px;

        }
      }
    }
  }

  .top-panel-content {
    position: relative;
    z-index: 1000;
  }

  .logo {
    img {
      max-width: 100%;
    }
  }


  .sf-menu ul {
    z-index: 9999;
  }

}