@import "../libs/bourbon/app/assets/stylesheets/bourbon";
@import "color";

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: "RobotoRegular", sans-serif;
  overflow-x: hidden;
}

.button {
  color: $black;
  background-color: $accent-yellow;
  border-radius: 2px;
  font-size: 15px;
  padding: 10px 22px;
  transition: background-color .25s ease;
  &:hover {
    background-color: lighten($accent-yellow, 12%);
  }
  &:active {
    background-color: darken($accent-yellow, 10%);
  }
}

.hidden {
  display: none;
}

.d-block {
  display: block;
}

.i-block {
  display: inline-block;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

stong, b {
  font-family: "RobotoBold", sans-serif;
  font-weight: normal;
}

.mm-menu {
  z-index: 1010;
}

h1 , h2 , h3 , h4 , h5 , h6, .button {
  font-family: "RobotoCondensedBold";
  font-weight: normal;
  text-transform: uppercase;
}

